asgiref==3.6.0
Django==4.1.7
gunicorn==20.1.0
Pillow==9.4.0
psycopg2-binary==2.9.5
sqlparse==0.4.3
whitenoise==6.4.0
boto3==1.27.0
botocore==1.30.0
certifi==2023.5.7
django-environ==0.9.0
django-storages==1.13.2
idna==3.4
requests==2.31.0
