* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'TT Firs Neue', 'TT Firs Neue Light', 'TT Firs Neue Thin';
}

p {
    font-family: 'TT Firs Neue Thin';
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-family: 'TT Firs Neue Light'
}

.navBar {
    padding-bottom: 20px;
}

.logo-nav-elements {
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    background-color: #c3e5e8;
    font-family: 'TT Firs Neue Light';
    box-shadow: 2px 5px 8px rgb(65, 73, 73);
}

.logo-nav-elements img {
    width: 35px;
    height: 30px;
}

.nav-menu-items {
    display: block;
    justify-content: center;
    align-items: center;
}


.breadcrumb {
    display: none;
    /* justify-content: space-between; */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}

.logo img {
    width: 350px;
    height: 150px;
}

.nav-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.nav-ele2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    padding: 8px 20px;
}


.church-name {
    color: rgb(2, 18, 39);
    font-style: oblique;
    font-size: 20px;
    margin: 20px;
    line-height: 30px;
}

.nav-elements a {
    text-decoration: none;
    color: black;
    padding: 5px 15px;
}

.nav-ele2 a {
    background-color: #b5061f;
    border-radius: 15px;
    padding: 5px 20px;
}

.nav-elements a:hover {
    border-radius: 5px;
    border: 1px solid rgb(255, 230, 161);
    transition: ease-in-out 1.5s;
}

.nav-buttons {
    visibility: visible;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: #eadaca;
    color: #021220;
}


/* Events section */
.events{
    margin: 30px;
    background-color: #fcffff;
}
.events h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.recent-events-session{
    margin: 0 20px;
}

.recent-events-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.recent-events-one img{
    width: 100%;
    height: 18rem;
}

.option-two p{
    margin-bottom: 10px;
}
.option-two h2{
    font-size: 24px
}
.option-two a{
    background-color:#ca0768;
    padding: 10px 20px;
    margin: 30px 0;
    text-decoration: none;
    color: black;
}

.fade-in {
    opacity: 0;
    tansition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transition: all 1s;
}

@media screen and (max-width:600px) {
    .nav-elements {
        visibility: hidden;
        display: block;
        justify-content: baseline;
        grid-template-rows: auto;
        background-color: #01305b;
        height: 80%;
        width: 80%;
        z-index: 1;
        background-position: left;
        position: absolute;
        padding: 20px 0;
        margin: 0;
    }

    .mobile-nav-view a {
        display: block;
        justify-content: start;
        align-items: flex-start;
        color: aliceblue;
        line-height: 30px;
    }

    .nav-elements a {
        margin: 20px 30px;
        width: 50%;
        height: 100%;
    }

    .logo-nav-elements {
        height: min-content;
        display: block;
        padding: 0px;
    }
    .nav-ele2 {
        display: flex;
        justify-content: left;
        align-items: flex-start;
    }

    .breadcrumb {
        visibility: visible;
        width: 35px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #00ffd5;
        padding: 2px;
    }
    .nav-menu-items {
        display: block;
        justify-content: left;
        align-items: center;
        margin: 0;
        padding: 5px;
    }
    .mobile-nav-view a {
        display: block;
        justify-content: space-between;
        align-items: flex-start;
    }

    .church-name {
        text-align: center;
    }
    .events {
        margin:5px;
    }
    .recent-events-session {
        margin: 5px;
    }
    .recent-events-one {
        display: grid;
        grid-template-columns: 1fr;
    }
    .events-section {
        margin:5px;
    }

}

.upcoming-events{
    margin: 20px;
}

.upcoming-event-objects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
    background-color: rgb(241, 216, 247);
    margin-bottom: 20px;
}

.upcoming-event-objects img{
    width: 100%;
    height: 150px;
}

.upcoming-event-objects a{
    background-color: #ca0768;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.upcoming-event-objects button {
    background-color: #ca0768;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

/* Footer section */
.footer-area {
    width: 100%;
    background-color: #01305b;
    padding: 20px;
    color: white;
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 10px;
    width: 100%;
}

.footer {
    margin-bottom: 20px;
}

/* POPUP for the RSVP */
.popup .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
}

.popup .content{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #44a2bc;
    padding: 20px;
    width: 450px;
    height: 220px;
    box-sizing: border-box;
}

.popup .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #222;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}

.popup.active .overlay{
    display: none;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}


.social-links{

}

.social-links img{
    width: 40px;
    height: 30px;
    color: #c3e5e8;
}
@media screen and (max-width:600px) {

    .footer-items {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .upcoming-event-objects {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        text-align: left;
        margin-bottom: 20px;
    }
    .upcoming-events {
        margin: 5px;
    }
    .popup .content {
        padding: 20px;
        width: 300px;
        height: max-content;
    }

}
