.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transition: all 1s;
}

/* main gallery images */
.gallery h1{
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
}

.gallery {
    padding: 10px;
    margin: 10px;
    align-items: center;
    display: block;
    justify-content: flex-start;
    /* width: 100%; */
}

.main-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.main-gallery p{
    /* font-family: "Poppins"; */
    font-family: "Popins";
}

.top-img-block{
    width: 100%;
}

.top-img-block img{
    height: 18rem;
    width: 100%;
    border-radius: 10px;
}

.top-img-block p{
    font-size: 16px;
}

/* Footer section */

@media screen and (max-width:600px) {

    .main-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
    }
    .top-img-block img {
        height: 18rem;
        width: 100%;
    }
}
