
/* main body section */
.know-about-us {
    margin: 30px 30px;
}

.about-us {
    margin-bottom: 30px;
    background-color:rgb(255, 255, 255);
}

.about-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.our-leaders{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    background: url("/static/img/color-center.webp");
    text-align: center;
}
.our-leaders img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.our-leaders-indiv{
    margin-bottom: 20px;
}

/* about-left-text-area */
.about-right-text-area{
    width: 100%;
    padding: 5px;
}

.about-links a{
    display: block;
    justify-content: start;
    align-items: left;
    text-decoration: none;
    color: rgb(65, 55, 55);
    margin: 10px;
}

.about-links a:hover{
    border-bottom: 2px solid rgb(23, 126, 83);
}
.ambitions{
    margin-bottom: 20px;
}
.ambitions h3{
    text-decoration: underline;
}

.contact-details p{
    margin-top: 10px;
}

@media screen and (max-width:600px) {

    .about-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .our-leaders {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-links {
        display: flex;
        justify-content: start;
    }
    .know-about-us {
        margin: 10px 5px;
    }
    .about-links a{
        margin: 5px;
    }
    .contact-section{
        /* margin-top: 20px; */
    }
}

/* about */

.contact-section h1{
    font-size: 24px;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    width: 70%;
    margin-bottom: 20px;
    font-size: large;
}

.email-and-phone{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 20px 0;
}

.text-input-field {
    height: 30px;
    font-size: 16px;
    width: 100%;
    border: none;
    background-color:rgb(191, 236, 236);
}

.email{
    display: block;
    margin-right: 5px;
}
.phone{
    display: block;
}
.contact-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
}

.social-links img {
    width: 40px;
    height: 30px;
    color: #c3e5e8;
}

@media screen and (max-width:600px) {
    .contact-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }

    .contact-form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        width: 100%;
    }

}



