/* Events section */
p{
    font-family: "TT Firs Neue Trl Thin";
    font-size: medium;
}
.events{
    margin: 30px;
    background-color: #fcffff;
}
.events h1{
    font-size: 24px;
    margin-bottom: 20px;
}

.recent-events-session{
    margin: 0 20px;
}

.recent-events-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.recent-events-one img{
    width: 100%;
    height: 18rem;
}

.option-two p{
    margin-bottom: 10px;
    line-height: 20px;
}
.option-two h2{
    font-size: 18px;
    text-transform: capitalize;
}
.option-two a{
    background-color:#ca0768;
    padding: 5px 20px;
    margin: 30px 0;
    text-decoration: none;
    color: black;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transition: all 1s;
}

@media screen and (max-width:600px) {
    .events {
        margin:5px;
    }
    .recent-events-session {
        margin: 5px;
    }
    .recent-events-one {
        display: grid;
        grid-template-columns: 1fr;
    }
    .events-section {
        margin:5px;
    }

}

.upcoming-events{
    margin: 20px;
}

.upcoming-event-objects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
    background-color: rgb(241, 216, 247);
    margin-bottom: 20px;
}

.upcoming-event-objects img{
    width: 100%;
    height: 150px;
}

.upcoming-event-objects a{
    background-color: #ca0768;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.upcoming-event-objects button {
    background-color: #ca0768;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.upcoming-event-objects h2{
    font-size: 18px;
}

/* Footer section */
 /* .footer-area {
    width: 100%;
    background-color: #01305b;
    padding: 20px;
    color: white;
} */

/* POPUP for the RSVP */
.popup .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
}

.popup .content{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #44a2bc;
    padding: 20px;
    width: 450px;
    height: 220px;
    box-sizing: border-box;
}

.popup .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #222;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}

.popup.active .overlay{
    display: none;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}


@media screen and (max-width:600px) {

    .upcoming-event-objects {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        text-align: left;
        margin-bottom: 20px;
    }
    .upcoming-events {
        margin: 5px;
    }
    .popup .content {
        padding: 20px;
        width: 300px;
        height: max-content;
    }

}
