{% extends 'index.html' %}
{% load static %}

    {% block content %}

    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <style>
        #id_fullname{
            width: 100%;
            height: 30px;
        }
        #id_email, #id_phone{
            width: 100%;
            height: 30px;
        }
        #id_message{
            width: 100%;
        }
    </style>
        <main class="know-about-us" id="main-body">
            <section class="about-us">
                <div class="about-content">
                    <h1 style="text-align:left;">MEET OUR LEADERS</h1>
                    <div class="our-leaders">
                        <div class="our-leaders-indiv fade-in">
                           <img src="{% static './img/prophetbk.jpg' %}" alt="our leaders">
                           <h2 for="img">PROPHET COFIE POWERMAN BEKOE</h2>
                        </div>
                        <div class="our-leaders-indiv fade-in">
                            <img src="{% static './img/prophets.jpg' %}" alt="our leaders">
                            <h2 for="img">PROHETESS TRACY POWERMAN BEKOE</h2>
                        </div>
                                               
                    </div>
                </div>
                <div class="about-content">
                    <div class="about-left-text-area">
                        <h1 style="text-align: left">OUR ATTRIBUTES</h1>
                    </div>

                    <div class="about-right-text-area">
                        <div id="vision" class="ambitions fade-in">
                            <h1>Our Church</h1>
                            <p>Welcome to Cofie Bekoe Ministries.</p>
                            <p>We are a home for the godly, focused on spreading the knowldge of the glory of God to the world; the supreme invaluable knowledge of <b>Jesus Christ!</b></p>
                            <p>Here, you will find answers to all the questions you may have about 
                                god and fulfilling the word of God. Do enjoy your stay here.
                            </p>
                        </div>
                        <div class="ambitions fade-in" id="mission">
                            <h1>Our Vision</h1>
                            <p>Our mission is to awaken the Zoe, god-kind of life in every man on the earth, to manifest and demonstrate the authority and power of God through the knowldge of <b>Jesus Christ.</b></p>
                        </div>
                        <div class="ambitions fade-in lozad" id="church">
                            <h1>Our Mission</h1>
                            <p>Our mission is to win souls for <b>Christ</b> by any means possible through His saving knowledge and redemptive life-transforming power.</p>
                        </div>

                    </div>
                </div>
            </section>
            <section class="contact-section">
                <div class="contact">
                <h1 style="font-size:32px;text-align:left;">CONTACT US</h1>
                    <div class="contact-details">
                        <p><b>Prophet Cofie PowerMan Bekoe</b></p>
                        <p>Email: cofiebekoeministries@gmail.com</p>
                        <p>Phone: +233556978861</p>
                        <p><b>Address</b></p>
                        <p>Post Office Box TI515</p>
                        <p>Accra West, Ghana</p>
                    </div>
                </div>
                
                <div class="contact-form" id="contact">
                    <form action="" method="post">
                        {% csrf_token %}
                        <label for="Full Name">Full Name</label>
                        <p style="width: 100%;">{{forms.fullname}}</p>
                        {{forms.fullname.css_class}}
                        <div class="email-and-phone">
                            <div class="email">
                                <label for="Email">Email</label>
                                {{forms.email}}
                            </div>
                            <div class="phone">
                                <label for="Phone Number">Phone</label>
                                {{forms.phone}}
                            </div>
                        </div>
                        <label for="Message">Message</label>
                        {{forms.message}}
                        <input type="submit" value="Submit" style="background-color: rgb(4, 18, 95); padding: 10px 40px; border-radius: 10px; border: none; cursor: pointer;color: azure;font-size: large;" name="Submit">                    
                    </form>

                </div>
            </section>
        </main>
    {% endblock content %}
    <!-- Footer section -->

</body>
</html>