{% extends 'index.html' %}
{% load static %}

    {% block content %}

    <title>Photo Gallery</title>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

        <main class="container">
            <section class="gallery">
                <h1>Photo</h1>
                <div class="main-gallery">
                    {% for img in images %}
                    <div class="top-img-block">
                        <img class="fade-in" src="{{img.image.url}}" alt="{{img.caption}}">
                        <p>{{img.caption}}</p>
                    </div>
                    {% endfor %}
                </div>

            </section>
        </main>
        {% endblock content %}
    
</body>
</html>