{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROPHET COFIE POWERMAN BEKOE MINISTRY</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

</head>
<body>
    <section id="parentComponent">
        <header class="navBar">
            <div class="logo-nav-elements">
                <div class="nav-menu-items">
                    <div class="logo">
                        <div>
                            <img src="{% static './img/LOGO1 cropped.png' %}" alt="LOGO">
                        </div>
                    </div>

                    <img class="breadcrumb" id="menu-img" style="align-items: center;" src="{% static './img/menu_img.png' %}" alt="">
                </div>

                <nav class="navigation">
                    <div class="nav-elements">
                        <a class="nav-link" href="{% url 'index-page' %}">HOME</a>
                        <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
                        <a class="nav-link" href="{% url 'gallery' %}">GALLERY</a>
                        <a class="nav-link" href="{% url 'events' %}">EVENTS</a>
                        <a class="nav-link" href="{% url 'give' %}">GIVE</a>
                    </div>
                    <div class="nav-elements nav-ele2">
                        <a href="{% url 'about'  %}">I'M NEW</a>
                    </div>
                </nav>
            </div>

            {% block content %}
            <div class="hero-banner">
                <div class="hero-banner-comps" style="display:block; text-align:center; justify-content: center;">
                    <h1 style="color: rgb(255, 255, 255); font-size:32px; padding-bottom: 10px;">Welcome to Prophet Cofie PowerMan Bekoe Ministries</h1>
                    <p>No weapon that is formed against thee shall prosper; and every tongue that shall rise agianst thee in judgement thou shalt condemn. This is the heritage of the servants of the LORD, and their righteousness is of me, saith the LORD - ISAIAH 54:17</p>
                    <a style="border: 3px solid #44a2bc;background: transparent; padding: 8px 20px;color: #44a2bc; border-radius: 15px;" href="{% url 'events' %}">CONNECT</a>
                </div>
            </div>
        </header>

        <main id="main-body">
            <h1 style="font-size: 24px; color: #44a2bc;">ABOUT US</h1>
            <div class="main-items">
                <div class="about-text-side lazy fade-in">
                    <p>We are an assignment of God established upon the earth to fulfill the will of God.</p>
                    <p>A ministry of God through the Holy Spirit to send <b>Jesus</b> to the world.</p>
    
                    <p>We are physically located in Ghana and Spiritually located in God, empowered by the <b>Holy Spirit</b> to do everything possible for <b>Jesus</b> to be known across the world.</p>
                    <a href="{% url 'about' %}">Read More</a>
                </div>

                <div class="about-image-side lazy fade-in">
                    <p>{{verses.verse}}</p>
                </div>

            </div>

            <div class="image-gallery">
                <h1>VIEWS FROM OUR WEEKLY SESSIONS</h1>
                <div class="images-comps">

                    {% for img in images %}
                    <img class="lazy fade-in" src="{{img.image.url}}" alt="{{img.caption}}">
                    {% endfor %}                    
                </div>
            </div>

            <div class="main-events-section">
                <h1>UPCOMING EVENTS</h1>
                <div class="upcoming-events-section">
                    {% for event in events %}
                    <div class="main-upcoming-events lazy fade-in">
                        <div class="date">
                            <h1>{{event.event_date|date:"jS"}}</h1>
                            <p>{{event.event_date|date:"F"}}</p>
                        </div>

                        <div class="venue">
                            <h3>{{ event.name|upper }}</h3>
                            <p>Start: {{event.time}}</p>
                            <p>Venue: {{event.venue}}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </main>
    </section>
    {% endblock content %}
    <!-- Footer section -->
    <footer class="footer-area">
        <div class="footer-items">
            <div class="footer lozad">
                <h2>Address</h2>
                <p>POST OFFICE BOX TI515</p>
                <p>ACCRA WEST, GHANA</p>
                <br>
                <p>Phone: +233556978861</p>
                <p>Email: cofiebekoeministries@gmail.com</p>
            </div>
            <div class="footer lozad">
                <h2>Church Hours</h2>
                <p>Days: Monday - Sunday</p>
                <p>Time: 8am - 4pm</p>
            </div>
            <div class="footer lozad">
                <h2>Follow Us</h2>
                <span class="social-links">
                    <a href="#"><img src="{% static './img/facebk.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static './img/twitter.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static './img/insta.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static './img/youtube.svg' %}" alt=""></a>
                </span>
            </div>
        </div>
        <div style="display: block; justify-content: center; align-items: center;">
            <p style="text-align: center; font-size: 12px;" id="date"></p>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script>
        const date = new Date().getFullYear();
        const setDate = document.getElementById('date');
        setDate.innerHTML = `Copyright &copy` + date;
        console.log(date);

        const menu = document.querySelector("#menu-img");
        const navbar = document.querySelector(".navigation");

        function mobileMenu (){
            if (navbar.style.visibility == 'visible'){
                navbar.style.visibility = 'hidden';
            }else{
                navbar.style.visibility = 'visible';
            }
        }
        menu.addEventListener("click", mobileMenu);


        document.addEventListener("DOMContentLoaded", function() {

            var lazyloadImages;

            if ("IntersectionObserver" in window) {

                lazyloadImages = document.querySelectorAll(".lazy");

                var imageObserver = new IntersectionObserver(function(entries, observer) {

                    entries.forEach(function(entry) {

                        if (entry.isIntersecting) {

                            var image = entry.target;

                            image.src = image.dataset.src;

                            image.classList.remove("lazy");

                            imageObserver.unobserve(image);

                        }

                    });

                });
            }
        })

    </script>
</body>
</html>