{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROPHET COFIE POWERMAN BEKOE MINISTRY</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

</head>
<body>
{{ FONTS.default.family }}
    <section id="parentComponent">
        <header class="navBar">
            <div class="logo-nav-elements">
                <div class="nav-menu-items">
                    <div class="logo">
                        <img src="{% static './img/LOGO1 cropped.png' %}" alt="LOGO">            
                    </div>

                    <img class="breadcrumb" id="menu-img" style="align-items: center;" src="{% static './img/menu_img.png' %}" alt="">
                </div>

                <nav class="navigation">
                    <div class="nav-elements">
                        <a class="nav-link" href="{% url 'index-page' %}">HOME</a>
                        <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
                        <a class="nav-link" href="{% url 'gallery' %}">GALLERY</a>
                        <a class="nav-link" href="{% url 'events' %}">EVENTS</a>
                        <a class="nav-link" href="{% url 'give' %}">PARTNER WITH US</a>
                    </div>
                    <div class="nav-elements nav-ele2">
                        <a href="{% url 'about'  %}">I'M NEW</a>
                    </div>
                </nav>
            </div>

            {% block content %}
            <div class="hero-banner">
                <div class="hero-banner-comps">
                    <h1>WELCOME TO PROPHET COFIE BEKOE MINISTRY</h1>
                    <p>"For God so loved the world that he gave his one and only son, that whoever believes in him shall not perish but have eternal life." - JOHN 3:2</p><br>
                    <a href="{% url 'events' %}">CONNECT &rarr;</a>
                </div>
            </div>
        </header>

        <main id="main-body">
            <div class="main-page">
                <h1>ABOUT US</h1>
                <div class="main-items">
                    <div class="about-text-side lazy fade-in">
                        <p>We are an assignment of God established upon the earth to fulfill the will of God.</p>
                        <p>A ministry empowered by the Holy Spirit to proclaim the Gospel of the kingdom of God to the World</p>
        
                        <p>We are physically located in Ghana and Spiritually located in God, empowered by the <b>Holy Spirit</b> to do everything possible for <b>Jesus</b> to be known across the World.</p>
                        <a href="{% url 'about' %}">Read More</a>
                    </div>

                    <div class="about-image-side lazy fade-in">
                        <p>{{verses.verse}}</p>
                    </div>

                </div>                
            </div>

            <div class="recent-sermon">
                <h1>RECENT SERMONS</h1>
                <div class="past-sermon-section">

                    <div class="sermon-section lazy fade-in">
                        <div class="sermon">
                            <iframe src="{% static 'img/managing-God-resources.mp4' %}" alt="sermon thumbnail" srcset=""frameborder='0' height='320px' width='100%' scrolling='no' src='http://currentlyobsessed.me/api/v1/get_widget?wid=30&blog=Brighton+The+Day&widgetid=38585' autoplay="True" allowfullscreen></iframe>
                            
                        </div>
                    </div>

                    <div class="sermon-section lazy">

                        <div class="sermon">
                            {% for sermon in sermons %}
                            <ul>
                                <li>
                                    <a class="sermon-options fade-in" href="{{sermon.youtube_link}}" target="blank"><p>{{sermon.title}}</p>
                                    </a>
                                </li>
                            </ul><br>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

<!-- Events and Weekly Services -->
            <div class="main-events-section">
                <h1>EVENTS & WEEKLY SERVICES</h1>
                <div class="upcoming-events-section">

                    <div class="main-upcoming-events lazy fade-in">

                        <div class="venue">
                            <p>WEDNESDAYS | 6:30PM - 8:30PM</p>
                            <h2>MIDWEEK SERVICE - TABERNACLE WITH US</h2>
                        </div>
                    </div>

                    <div class="main-upcoming-events lazy fade-in">

                        <div class="venue">
                            <p>AKAN SERVICE | 07:00AM - 09:00AM</p>
                            <h2>AKAN SERVICE</h2><br>
                            <hr><br>
                            <p>ENGLISH SERVICE | 09:30AM - 12:00PM</p>
                            <h2>FEAST OF MANNER</h2>
                        </div>
                    </div>


                </div>

                {% for event in events %}
                <div class="major-upcoming-event lazy fade-in">
                    <div class="major-event">
                        <p style="text-transform: uppercase;">{{event.event_date | date:"l F, j Y" }} | {{event.from_time|time:"h:ia"}} - {{event.to_time|time:"h:ia"}}</p>
                        <h1>{{ event.name | upper }}</h1>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <a style="text-align: center;" href="{% url 'events' %}">MORE</a>
                    </div>
                    
                </div>
                <hr>
                {% endfor %}

            </div>
        </main>
    </section>
    {% endblock content %}
    <!-- Footer section -->
    <footer class="footer-area">
        <div class="footer-items">
            <div class="footer lozad">
                <h1>CONTACT INFO</h1>
                <p><img src="/static/img/user.svg" alt=""> Cofie Bekoe Ministries</p>
                <p><img src="/static/img/home.svg" alt=""> Taifa, Hallelujah Junction</p>
                <br>
                <p><img src="/static/img/phone.svg" alt=""> +233556978861</p>
                <p><img src="/static/img/mail.svg" alt=""> cofiebekoeministries@gmail.com</p>
            </div>
            <div class="footer lozad">
                <h1>CHURCH HOURS</h1>
                <span>
                    <p>Days: Monday - Sunday</p>
                    <p>Time: 8am - 4pm</p>
                </span>
                
            </div>
            <div class="footer lozad">
                <h1>FIND US ON SOCIAL MEDIA</h1>
                <span class="social-links">
                    <a href="https://www.facebook.com/100070673075307/posts/267725212259913/?mibextid=rS40aB7S9Ucbxw6v"><img src="/static/img/facebook.svg" alt="">
                    </a>
                    <a href="#"><img src="{% static './img/tweeticon.svg' %}" alt=""></a>
                    <a href="https://instagram.com/cofiebekoe?igshid=YmMyMTA2M2Y="><img src="{% static './img/insta.svg' %}" alt=""></a>
                    <a href="https://www.youtube.com/@prophetpowermanbekoe1295" target="_blank"><img src="{% static './img/tube.svg' %}" alt=""></a>
                </span>
            </div>
        </div>
        <hr>
        <div style="display: block; justify-content: center; align-items: center;">
            <p style="text-align: center; font-size: 12px;" id="date"></p>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script>
        // const aboutImageSide = document.querySelector(".about-image-side p");
        // console.log(aboutImageSide);


        const date = new Date().getFullYear();
        const setDate = document.getElementById('date');
        setDate.innerHTML = `Copyright &copy` + date;
        console.log(date);

        const menu = document.querySelector("#menu-img");
        const navbar = document.querySelector(".navigation");

        function mobileMenu (){
            if (navbar.style.visibility == 'visible'){
                navbar.style.visibility = 'hidden';
            }else{
                navbar.style.visibility = 'visible';
            }
        }
        menu.addEventListener("click", mobileMenu);


        document.addEventListener("DOMContentLoaded", function() {

            var lazyloadImages;

            if ("IntersectionObserver" in window) {

                lazyloadImages = document.querySelectorAll(".lazy");

                var imageObserver = new IntersectionObserver(function(entries, observer) {

                    entries.forEach(function(entry) {

                        if (entry.isIntersecting) {

                            var image = entry.target;

                            image.src = image.dataset.src;

                            image.classList.remove("lazy");

                            imageObserver.unobserve(image);

                        }

                    });

                });
            }
        })

    </script>
</body>
</html>