{% extends 'index.html' %}
{% load static %}

    {% block content %}
<body>
    <style>
        .container{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .row{
            margin: 20px 100px;
            padding: 20px;
            background-color: #fff;
        }
        @media screen and (max-width:600px){
            .row{
                margin: 5px;
                padding: 5px;
            }
        }
    </style>

    <div class="container">
        <div class="row">
            <h1>Minister for Today's Program</h1><hr>
            <div class="col-sm">
                <div class="card">
                    <h4>{{rsvp.designation}} {{rsvp.rs_vp}}</h4>
                    <p>{{rsvp.contact}}</p>

                    <p>{{rsvp.designation}}</p>
                </div>
            </div>
        </div>
    </div>    
    <div class="card-header"></div>
</body>
{% endblock content %}