<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP</title>
</head>
<body>
    <style>
        .container{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: black;
        }
        .row{
            margin: 50px 100px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px 0;
        }
    </style>


    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <h4>RSVP</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sunt dolorum repellendus harum tempora, sint aperiam error porro quaerat facilis.</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sunt dolorum repellend</p>
                </div>
            </div>
        </div>
    </div>    
    <div class="card-header"></div>
</body>
</html>